.Input-Group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 30px;
}

.Input-Group + .Input-Group {
  margin-top: 16px;
}

.Input-Label {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}

.Input-Input {
  height: 30px;
  margin-left: 16px;
}
