@import '../../styles/index';

.Button {
  width: 140px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;

  &-primary {
    background-color: $color-primary;
    color: $white-color;
  }

  &-secondary {
    background-color: $color-secondary;
    color: $white-color;
  }

  &:disabled {
    background-color: $gray-color;
  }
}

.Button + .Button {
  margin-left: 16px;
}
